@import "tailwindcss";

@theme {
  --color-Blue-900: #0b0d17;
  --color-Blue-300: #d0d6f9;
  --color-White: #fff;

  /* Typography */
  --default-font-family: "Bellefair", serif;
  --font-Barlow: "Barlow", sans-serif;
}

.backgroundEarthImage {
  background-image: url("./assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: bottom;
}

.backgroundDestinationImage {
  background-image: url("../public/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
}

@layer base {
  h1 {
    @apply text-base leading-[19.2px] font-normal tracking-[2.4px] uppercase;
  }
}
